
/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{
  position:relative; display:none; width:100%; padding:0; margin:0;
  transition:opacity .6s, transform .6s;
}
.tab-container .tab-content.fade-out:not(.no-fade){opacity:0; pointer-events:none;}
.tab-container .tab-content.fade-in:not(.no-fade){
  display:block; position:absolute; opacity:0; transform:translateY(1.5rem);
  pointer-events:none;
}
.tab-container .tab-content.active{display:block;}
