

/* Section 01 */
.section-01{position:relative; display:flex; align-items:center; overflow:hidden;}
.section-01 > .pattern.style-01{
  position:absolute; top:30%; left:2rem; right:0; height:1rem; z-index:1;
}
.section-01 > .pattern.style-01 > .wrapper img{display:block; width:5rem; height:auto;}

.section-01 > .pattern.style-02{
  position:absolute; top:45%; left:auto; right:8rem; height:1rem; z-index:1;
}
.section-01 > .pattern.style-02 > .wrapper img{display:block; width:5rem; height:auto;}

.section-01 > .pattern.style-03{
  position:absolute; bottom:35%; left:auto; right:-6rem; height:1rem; z-index:1;
}
.section-01 > .pattern.style-03 > .wrapper img{display:block; width:12rem; height:auto;}

.section-01 > .pattern.style-04{
  position:absolute; top:-29%; left:auto; right:-21rem; height:1rem; z-index:1;
}

.section-01 > .pattern.style-05{
  position:absolute; top:-55%; left:-13%; right:auto; height:1rem; z-index:1;
}
.section-01 > .pattern.style-06{
  position:absolute; bottom:50%; left:-24%; right:auto; height:1rem; z-index:1;
}
.section-01 > .pattern.style-07{
  position:absolute; bottom:5rem; left:3.5rem; right:auto; z-index:1;
}
.section-01 > .pattern.style-07 > .wrapper img{display:block; width:16rem; height:auto;}

.section-01 > .pattern.style-08{
  position:absolute; bottom:4.5rem; left:auto; right:11rem; z-index:1;
}
.section-01 > .pattern.style-08 > .wrapper img{display:block; width:11rem; height:auto;}

.section-01 > .pattern.style-09{
  position:absolute; top:-12rem; left:auto; right:-9rem; z-index:1;
}
.section-01 > .pattern.style-09 > .wrapper img{display:block; width:40rem; height:auto;}

.section-01 > .pattern.style-10{
  position:absolute; top:-11rem; left:-5rem; right:auto; z-index:1;
}
.section-01 > .pattern.style-10 > .wrapper img{display:block; width:19rem; height:auto;}

.section-01 > .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
  background-position:center; background-repeat:no-repeat; 
}
.section-01 .video-preview {
  position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; 
}

.section-01 > .container{position:relative;}
.section-01 .social-blocks{
  width:100%; display:flex; justify-content:center; flex-wrap:wrap; margin:1.5rem 0 0 0;
}
.section-01 .social-block{width:7.5rem; margin:1rem 0 0 0;}
.section-01 .title-intro{display:flex; align-items:center; justify-content:center;}
.section-01 .title-intro > img{display:block; width:10rem; height:auto;}
.section-01 .title-intro > .text-wrapper{max-width:calc(100% - 10rem); padding:0 0 0 .5rem;}

.section-01.size-01{padding-bottom:17rem;}
.section-01.size-01 > .img-bg{background-position:bottom right;}
.section-01.size-02{min-height:32rem;}
.section-01.size-03{min-height:20rem;}

.section-01 .hex-container{
  width:100%; max-width:66rem; margin:0 auto; padding:4.5rem 0 0 0;
  display:flex; flex-wrap:wrap; justify-content:center;
}
.section-01 .hex-flip{margin:-2.25rem .125rem .125rem .125rem; cursor:pointer;}
.section-01 .hex-flip .hex.bg{color:#333333;}
.section-01 .hex-flip:nth-child(1),
.section-01 .hex-flip:nth-child(16){margin-left:.1875rem;}
.section-01 .hex{color:#ffffff;}
.section-01 .hex > .hex.inner{color:#eb2c22;}
/* .section-01 .hex .icon{font-size:2rem; line-height:1;} */
.section-01 .hex .icon{display:flex; justify-content:center; align-items:center;}
.section-01 .hex .icon > img{display:block; width:2.5rem; height:auto;}

@media screen and (max-width:1199.98px){
  .section-01.size-01{padding-bottom:13rem;}
  .section-01.size-01 > .img-bg{background-position:center;}
  .section-01.size-02{min-height:30rem;}
  .section-01 .hex-container{max-width:57.75rem;}
}
@media screen and (max-width:991.98px){
  .section-01.size-01{padding-bottom:12rem;}
  .section-01.size-02{min-height:26rem;}
  .section-01 .hex-container{max-width:41.25rem;}
  .section-01 .hex-flip:nth-child(1),
  .section-01 .hex-flip:nth-child(16){margin-left:.125rem;}
  .section-01 .hex-flip:nth-child(1),
  .section-01 .hex-flip:nth-child(10){margin-left:.1875rem;}
}
@media screen and (max-width:767.98px){
  .section-01.size-01{padding-bottom:10rem;}
  .section-01.size-02{min-height:22rem;}
  .section-01 .hex-container{max-width:33rem;}
  .section-01 .hex-flip:nth-child(1),
  .section-01 .hex-flip:nth-child(10){margin-left:.125rem;}
  .section-01 .hex-flip:nth-child(1),
  .section-01 .hex-flip:nth-child(8),
  .section-01 .hex-flip:nth-child(15){margin-left:.1875rem;}
}
@media screen and (max-width:575.98px){
  .section-01.size-02{min-height:20rem;}
  .section-01 .hex-container{max-width:22rem;}
  .section-01 .hex-flip:nth-child(1),
  .section-01 .hex-flip:nth-child(8),
  .section-01 .hex-flip:nth-child(15){margin-left:.125rem;}
  .section-01 .hex-flip:nth-child(4n+1){margin-left:4.1875rem;}
  .section-01 .hex-flip:nth-child(4n+3){margin-left:-4.1875rem;}
}


/* Section 03 */
.section-03{position:relative; overflow:hidden;}
.section-03 .clients{
  width:calc(100% + .0625rem); margin:3rem -.03125rem 0 -.03125rem;
  display:flex; flex-wrap:wrap; justify-content:center;
}
.section-03 .clients > .client{width:calc(100% / 8); padding:.03125rem;}
@media screen and (max-width:1299.98px){
  .section-03 .clients > .client{width:calc(100% / 7);}
}
@media screen and (max-width:1199.98px){
  .section-03 .clients > .client{width:calc(100% / 6);}
}
@media screen and (max-width:991.98px){
  .section-03 .clients > .client{width:calc(100% / 5);}
}
@media screen and (max-width:767.98px){
  .section-03 .clients{margin:2.5rem -.03125rem 0 -.03125rem;}
  .section-03 .clients > .client{width:calc(100% / 4);}
}
@media screen and (max-width:575.98px){
  .section-03 .clients > .client{width:calc(100% / 3);}
}


/* Section 05 */
.section-05{  
  position:relative; display:flex; align-items:center; 
  background-attachment:fixed; background-position:center;
  background-repeat:no-repeat; background-size:cover;
}
.section-05.mh{min-height:36rem;}
.section-05 .btn-container{border-top:2px solid #000000; padding-top:.5rem; margin-top:1rem;}
.section-05 .btn-customs{
  width:100%; display:flex; align-items:center; justify-content:space-between;
  flex-wrap:wrap;
}
.section-05 .btn-customs .btn-custom{
  display:flex; align-items:center; width:50%; margin:.75rem 0 0 0;
  border-radius:.1875rem; font-size:.875rem; font-weight:300; transition:background .3s;
}

/* Section 08 */
.section-08{position:relative; background-size:cover; }
.section-08 > .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
  background-position:center; background-repeat:no-repeat;
}
.section-08 > .container{position:relative;}
.section-08 .content-container{
  position:relative; display:block; width:100%; max-width:64rem; margin:0 auto; padding:0 4rem;
}
.section-08 .swiper-container{position:relative; width:calc(100% + 2rem); margin:0 -1rem;}
.section-08 .swiper-slide > .wrapper{padding:0 1rem;}
.section-08 .navigator{
  display:flex; align-items:center; justify-content:center; width:100%; margin:2.5rem 0 0 0;
}
.section-08 .navigator .line{
  display:block; width:2rem; height:.1875rem; background:#ec2c23; margin:0 1rem 0 1.5rem;
}
.section-08 .dots{display:flex; align-items:center;}
.section-08 .swiper-pagination-bullet{
  position:relative; display:block; width:.5rem; height:.5rem;
  background:#ec2c23; opacity:1; margin:0 .3125rem;
}
.section-08 .swiper-pagination-bullet::after{
  content:''; pointer-events:none;
  position:absolute; top:-.3125rem; bottom:-.3125rem; left:-.3125rem; right:-.3125rem;
  border-radius:50%; border:1.5px solid transparent; transition:border-color .3s; 
}
.section-08 .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
  border-color:#ec2c23;
}
.section-08 .arrows{
  position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
  display:flex; align-items:center; justify-content:space-between; pointer-events:none;
}
.section-08 .arrow{cursor:pointer; pointer-events:auto; transition:opacity .3s;}
.section-08 .arrow:hover{opacity:.7;}
.section-08 .arrow > img{display:block; width:1.25rem; height:auto;}

.section-08 .navigator.white .line{background:#ffffff;}
.section-08 .navigator.white .swiper-pagination-bullet{background:#ffffff;}
.section-08 .navigator.white .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
  border-color:#ffffff;
}

@media screen and (max-width:991.98px){
  .section-08 .content-container{padding:0 3rem;}
}
@media screen and (max-width:767.98px){
  .section-08 .content-container{padding:0;}
  .section-08 .arrows{display:none;}
}

/* Section 10 */
.section-10{position:relative;}
.section-10 > .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
  background-position:center; background-repeat:no-repeat;
}
.section-10 .swiper-container > .swiper-wrapper{padding-bottom:3rem;}
.section-10 .navigator{display:flex; align-items:center; justify-content:center;}
.section-10 .navigator > .arrow-left img,
.section-10 .navigator > .arrow-right img{display:block; width:1rem; height:auto;}
.section-10 .dots{display:flex; align-items:center; margin:0 2rem;}
.section-10 .swiper-pagination-bullet{
  position:relative; display:block; width:.5rem; height:.5rem;
  background:#ec2c23; opacity:1; margin:0 .9375rem;
}
.section-10 .swiper-pagination-bullet::after{
  content:''; pointer-events:none;
  position:absolute; top:-.3125rem; bottom:-.3125rem; left:-.3125rem; right:-.3125rem;
  border-radius:50%; border:1.5px solid transparent; transition:border-color .3s; 
}
.section-10 .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
  border-color:#ec2c23;
}
.section-10 .arrows{
  position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
  display:flex; align-items:center; justify-content:space-between; pointer-events:none;
}
.section-10 .arrow{cursor:pointer; pointer-events:auto; transition:opacity .3s;}
.section-10 .arrow:hover{opacity:.7;}
.section-10 .arrow > img{display:block; width:1.25rem; height:auto;}



/* Section 12 */
.section-12{position:relative; overflow:hidden;}
.section-12 > .container{position:relative;}
.section-12 .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}
.section-12 .blocks{display:flex; width:100%; min-height:32rem;}
.section-12 .blocks.mh-0{min-height:0!important;}
.section-12 .blocks > .block-float{position:relative; width:50vw; margin:0}
.section-12 .blocks > .block-float.left{margin:0 0 0 calc(50% - 50vw);}
.section-12 .blocks > .block-float.right{margin:0 calc(50% - 50vw) 0 0;}
.section-12 .blocks > .block{
  position:relative; width:50%; display:flex; align-items:center; padding:5rem 2rem 5rem 0;
}
.section-12 .blocks > .block > .img-bg{left:unset; width:50vw;}
.section-12 .blocks > .block-float.left + .block{padding-left:2rem; padding-right:0;}
.section-12 .blocks > .block-float.left + .block > .img-bg{left:0; width:50vw;}
.section-12 .blocks > .block > .text-container{
  position:relative; width:100%; max-width:24rem; margin:0 auto;
}
.section-12 .blocks > .block > .text-container.md{max-width:30rem;}
@media screen and (max-width:1199.98px){
  .section-12 .blocks{min-height:29rem;}
  .section-12 .blocks > .block{padding-top:4.5rem; padding-bottom:4.5rem;}
}
@media screen and (max-width:991.98px){
  .section-12 .blocks{min-height:26rem;}
  .section-12 .blocks > .block{padding-top:4rem; padding-bottom:4rem;}
}
@media screen and (max-width:767.98px){
  .section-12 .text-container{max-width:100%;}
  .section-12 .blocks{flex-wrap:wrap; min-height:0;}
  .section-12 .blocks.flex-column-reverse{flex-direction:column-reverse;}
  .section-12 .blocks > .block-float.left,
  .section-12 .blocks > .block-float.right{width:100vw; margin:0 calc(50% - 50vw);}
  .section-12 .blocks > .block,
  .section-12 .blocks > .block-float.left + .block{
    width:100%; padding-top:3.5rem; padding-bottom:3.5rem; padding-left:0; padding-right:0;
  }
  .section-12 .blocks > .block > .img-bg,
  .section-12 .blocks > .block-float.left + .block > .img-bg{
    left:calc(50% - 50vw); right:unset; width:100vw;
  }
}
@media screen and (max-width:575.98px){
  .section-12 .blocks > .block,
  .section-12 .blocks > .block-float.left + .block{
    padding-top:3rem; padding-bottom:3rem;
  }
}
@media screen and (min-width:768px){
  .section-12 .blocks > .block-float > .ss-img{padding:0; height:100%;}
}


/* Section 13 */
.section-13{position:relative;}
.section-13 .swiper-container{position:relative; width:100%; height:40rem;}
.section-13 .swiper-container.style-02{position:relative; width:100%; height:42rem;}
.section-13 .swiper-slide > .wrapper{
  position:relative; width:100%; height:100%; overflow:hidden;
  display:flex; align-items:center; justify-content:center;
}
.section-13 .swiper-slide .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
  background-position:center; background-repeat:no-repeat;
}
.section-13 .swiper-slide .content{position:relative;}

.section-13 .content.style-01{display:flex;}
.section-13 .content.style-01 .img-container{
  display:flex; align-items:center; justify-content:center; width:100%; max-width:40rem;
}
.section-13 .content.style-01 .img-container > img{
  display:block; width:auto; max-width:100%; height:auto;
}
.section-13 .content.style-01 .text-container{padding:0;}
.section-13 .content.style-01 .title-wrapper{display:block;}
.section-13 .content.style-01 .title-wrapper .logo > img{
  display:block; width:auto; max-width:8rem; height:auto; max-height:8rem;
}
.section-13 .content.style-01 .title-wrapper .text{padding:1.25rem 0 0 0;}
.section-13 .content.style-01 .btns{max-width:20rem; padding-top:.5rem;}
.section-13 .content.style-01 .btn.btn-action{
  margin-top:.5rem; min-width:0; display:inline-block;
}

/* .section-13 .content.style-02{display:flex;} */
.section-13 .content.style-02 .img-container{
  display:flex; align-items:center; justify-content:center; width:100%; max-width:64rem;
}
.section-13 .content.style-02 .img-container > img{
  display:block; width:auto; max-width:28rem; height:auto;
}
.section-13 .content.style-02 .title-wrapper{display:block; padding:0 0 0 1.5rem; margin-bottom:-3rem;}
.section-13 .content.style-02 .title-wrapper .logo > img{
  display:block; width:auto; max-width:8rem; height:auto; max-height:8rem;
}
.section-13 .content.style-02 .title-wrapper .text{padding:1.25rem 0 0 0;}
.section-13 .content.style-02 .showcase-container > .wrapper{display:flex; align-items:end;}
.section-13 .content.style-02 .showcase-container > .wrapper .showcase-01{display:flex; justify-content:center;}
.section-13 .content.style-02 .showcase-container > .wrapper .showcase-02{display:flex; padding:0 0 0 1.5rem;}
.section-13 .content.style-02 .showcase-container > .wrapper .showcase-01{width:100%;}
.section-13 .content.style-02 .showcase-container > .wrapper .showcase-01 > img{
  display:block; width:auto; max-width:13rem; height:auto; padding:.5rem;
}
.section-13 .content.style-02 .showcase-container > .wrapper .showcase-02 > img{
  display:block; width:auto; max-width:9rem; height:auto; margin:.5rem; max-height: 6rem;
}

.section-13 .navigator{
  position:absolute; top:0; bottom:0; right:4rem; width:2.5rem; z-index:2;
}
.section-13 .dots{
  display:flex; align-items:center; width:100%; height:calc(100% - 7.5rem); overflow:hidden;
}
.section-13 .dots > .wrapper{position:relative; display:block; width:100%; padding:1rem 0;}
.section-13 .swiper-pagination-bullet{
  display:flex; align-items:center; justify-content:center; width:100%; height:2.625rem;
  background:transparent; opacity:1; margin:0; padding:0; font-size:.6875rem; font-weight:400;
  cursor:pointer; color:#ffffff; transition:font-size .3s;
}
.section-13 .swiper-pagination-bullet.swiper-pagination-bullet-active{font-size:1.5rem;}
.section-13 .dots > .wrapper::before, .section-13 .dots > .wrapper::after{
  content:''; position:absolute; left:calc(50% - .4px);
  width:.8px; height:15rem; background:#ffffff;
}
.section-13 .dots > .wrapper::before{bottom:100%;}
.section-13 .dots > .wrapper::after{top:100%;}
.section-13 .arrows{display:block; width:100%; height:7.5rem;  overflow:hidden;}

.section-13 .arrows > .wrapper{position:relative; padding:.5rem 0;}
.section-13 .arrows > .wrapper::after{ 
  content:''; position:absolute; left:calc(50% - .4px);
  width:.8px; height:10rem; background:#ffffff; top:4.5rem;
}
.section-13 .arrows > .wrapper .icon{padding:.1875rem;}

@media screen and (max-width:1199.98px){
  .section-13 .content.style-01 .img-container{max-width:36rem;}
  .section-13 .content.style-01 .title-wrapper .logo > img{max-width:7rem; max-height:7rem;}
  .section-13 .content.style-02 .title-wrapper .logo > img{max-width:7rem; max-height:7rem;}
}
@media screen and (max-width:991.98px){
  .section-13 .swiper-container, .section-13 .swiper-container.style-02{height:44rem;}
  .section-13 .content.style-01{flex-wrap:wrap-reverse; justify-content:center;}
  .section-13 .content.style-01 .img-container{margin:2.5rem 0 0 0; max-width:36rem;}
  .section-13 .content.style-01 .text-container{width:100%; display:flex; justify-content:center;}
  .section-13 .content.style-01 .title-wrapper{display:flex; align-items:center;}
  .section-13 .content.style-01 .title-wrapper .logo > img{max-width:6.5rem; max-height:6.5rem;}
  .section-13 .content.style-01 .title-wrapper .text{padding:.5rem 0 0 1rem;}
  .section-13 .content.style-01 .btns{max-width:unset;}

  .section-13 .content.style-02{flex-wrap:wrap-reverse; justify-content:center;}
  .section-13 .content.style-02 .img-container{ flex-wrap:wrap-reverse;}
  .section-13 .content.style-02 .img-container > img{max-width:36rem;}
  .section-13 .content.style-02 .text-container{width:100%; display:flex; justify-content:center;}
  .section-13 .content.style-02 .title-wrapper{display:flex; align-items:center; margin:0 0 2.5rem 0; padding-left:0;}
  .section-13 .content.style-02 .title-wrapper .logo > img{max-width:6.5rem; max-height:6.5rem;}
  .section-13 .content.style-02 .title-wrapper .text{padding:.5rem 0 0 1rem;}
  .section-13 .content.style-02 .showcase-container{display:none;}

  .section-13 .navigator{right:3.5rem;}
  .section-13 .dots{display:none;}
  .section-13 .arrows{height:100%;}
  .section-13 .arrows .wrapper{content:''; position:absolute; top:80%; height:auto;}
  .section-13 .arrows > .wrapper::before{ 
    content:''; position:absolute; left:calc(50% - .4px);
    width:.8px; height:40rem; background:#ffffff; bottom:4.5rem;
  }
}
@media screen and (max-width:767.98px){
  .section-13 .swiper-container,  .section-13 .swiper-container.style-02{height:38rem;}
  .section-13 .content.style-01 .img-container{margin:2rem 0 0 0; max-width:30rem;}
  .section-13 .content.style-01 .title-wrapper .logo > img{max-width:6rem; max-height:6rem;}


  .section-13 .navigator{right:.5rem;}
}
@media screen and (max-width:575.98px){
  .section-13 .swiper-container, .section-13 .swiper-container.style-02{height:35rem;}
  .section-13 .content.style-01 .img-container{max-width:28rem;}
  .section-13 .content.style-01 .title-wrapper .logo > img{max-width:5.5rem; max-height:5.5rem;}

  .section-13 .content.style-02 .img-container > img{max-width:28rem;}
  .section-13 .content.style-02 .title-wrapper .logo > img{max-width:5.5rem; max-height:5.5rem;}

  .section-13 .navigator{right:.375rem;}
}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{
  position:relative; display:none; width:100%; padding:0; margin:0;
  transition:opacity .6s, transform .6s;
}
.tab-container .tab-content.fade-out:not(.no-fade){opacity:0; pointer-events:none;}
.tab-container .tab-content.fade-in:not(.no-fade){
  display:block; position:absolute; opacity:0; transform:translateY(1.5rem);
  pointer-events:none;
}
.tab-container .tab-content.active{display:block;}

/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01{
  display:flex; justify-content:center; align-items:center; flex-wrap:wrap;
  width:100%; max-width:34rem; margin:0 auto; padding:1.25rem 0;
}
.tab-container .tabs.tabs-01 > .tab{
  position:relative; width:33.3333%; display:flex; justify-content:center;
}
.tab-container .tabs.tabs-01 > .tab > .title{transition:font-weight .3s;}
.tab-container .tabs.tabs-01 > .tab.active > .title{font-weight:600;}
.tab-container .tabs.tabs-01 > .tab::after{
  content:''; position:absolute; top:.375rem; bottom:.375rem; right:0;
  width:1px; background:#ffffff;
}
.tab-container .tabs.tabs-01 > .tab:last-child:after{display:none;}

.tab-container .tabs.tabs-01.style-02{max-width:50rem;}
.tab-container .tabs.tabs-01.style-02 > .tab{width:auto; padding:0 2rem; margin:.5rem 0 0 0;}
@media screen and (max-width:991.98px){
  .tab-container .tabs.tabs-01.style-02 > .tab{padding:0 1.75rem;}
}
@media screen and (max-width:767.98px){
  .tab-container .tabs.tabs-01.style-02 > .tab{padding:0 1.5rem;}
}
@media screen and (max-width:575.98px){
  .tab-container .tabs.tabs-01.style-02 > .tab{width:100%; padding:0;}
  .tab-container .tabs.tabs-01.style-02 > .tab::after{display:none;}
}
