/* Color */
.color-white{color:#ffffff!important;}
.color-black{color:#000000!important;}
.color-01{color:#ec2c23!important;}
.color-02{color:#999999!important;}

.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-01{background:#ec2c23!important;}
.bg-02{color:#999999!important;}

.bc-color-white{border-color:#ffffff!important;}
.bg-color-black{border-color:#000000!important;}
.bc-color-01{border-color:#ec2c23!important;}
.bc-color-02{border-color:#999999!important;}


/* Typography */
h1, .h1{font-size:4.5rem;} h1.lg, .h1.lg{font-size:5.5rem;}
h2, .h2{font-size:3rem;} h2.lg, .h2.lg{font-size:3.25rem;}
h3, .h3{font-size:2.5rem;}
h4, .h4{font-size:1.75rem;} h4.lg, .h4.lg{font-size:2rem;}
h5, .h5{font-size:1.625rem;} h5.sm, .h5.sm{font-size:1.5rem;}
h6, .h6{font-size:1.3125rem;} h6.sm, .h6.sm{font-size:1.25rem;}

p.lg, .p.lg{font-size:1.125rem;}

@media screen and (max-width:1199.98px){
    h1, .h1{font-size:4.125rem;} 
    h2, .h2{font-size:2.875rem;} h2.lg, .h2.lg{font-size:3.0625rem;}
    h3, .h3{font-size:2.375rem;}
    h4, .h4{font-size:1.6875rem;} h4.lg, .h4.lg{font-size:1.875rem;}
}
@media screen and (max-width:991.98px){
    h1, .h1{font-size:3.75rem;} h1.lg, .h1.lg{font-size:5rem;}
    h2, .h2{font-size:2.75rem;} h2.lg, .h2.lg{font-size:3rem;}
    h3, .h3{font-size:2.25rem;}
    h4, .h4{font-size:1.625rem;} h4.lg, .h4.lg{font-size:1.8125rem;}
    h5, .h5{font-size:1.5625rem;} h5.sm, .h5.sm{font-size:1.4375rem;}
}
@media screen and (max-width:767.98px){
    h1, .h1{font-size:3.25rem;} 
    h2, .h2{font-size:2.5rem;} h2.lg, .h2.lg{font-size:2.75rem;}
    h3, .h3{font-size:2rem;}
    h4, .h4{font-size:1.5625rem;} h4.lg, .h4.lg{font-size:1.625rem;}
    h5, .h5{font-size:1.5rem;} h5.sm, .h5.sm{font-size:1.375rem;}
    h6, .h6{font-size:1.25rem;} h6.sm, .h6.sm{font-size:1.125rem;}
}
@media screen and (max-width:575.98px){
    h1, .h1{font-size:2.875rem;} h1.lg, .h1.lg{font-size:4.375rem;}
    h2, .h2{font-size:2.25rem;} h2.lg, .h2.lg{font-size:2.4375rem;}
    h3, .h3{font-size:1.75rem;}
    h4, .h4{font-size:1.4375rem;} h4.lg, .h4.lg{font-size:1.5rem;}
    h5, .h5{font-size:1.375rem;} h5.sm, .h5.sm{font-size:1.25rem;}
    h6, .h6{font-size:1.125rem;} h6.sm, .h6.sm{font-size:1.0625rem;}
    p.lg, .p.lg{font-size:1.0625rem;} 
}

/* ============================================= 
                   Grids
   ============================================= */
.grids.no-gap > .grid.style-02{padding:.1875rem;}


/* ============================================= 
                   Blocks
   ============================================= */

/* Section 01 */
.section-01{
    position:relative; height:100%; min-height:485px; background-size:cover; 
    background-repeat:no-repeat; background-position:center; display:flex; align-items:center;
}
.section-01.size-01{min-height:306px;}
.section-01.size-02{min-height:600px;}
.section-01.size-03{min-height:800px;}
.section-01 > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; background-repeat:no-repeat;
}

/* Section 02 */
.section-02 .swiper-slide{margin-right:0!important}

/* Section 03 */
.section-03{overflow:hidden;}
.section-03 .blocks{width:100%; display:flex; flex-wrap:wrap; min-height:500px;}
.section-03 .block{
    position:relative; width:50%; padding:3.5rem 2rem 3.5rem 0;
    display:flex; align-items:center; justify-content:center;
}
.section-03 .block > .img-bg{
    position:absolute; top:0; bottom:0; right:0; left:auto; width:50vw;
    background-size:cover; background-position:center; 
}
.section-03 .block > .text-wrapper{position:relative;}
.section-03 .subblocks{position:relative; width:50%;}
.section-03 .subblock{position:relative; width:100%; height:100%; display:flex; align-items:center; justify-content:center;}
.section-03 .subblock > .text-wrapper{position:relative;}
.section-03 .subblock > .img-bg{
    position:absolute; top:0; bottom:0; left:0; width:50vw;
    background-size:cover; background-position:center;
}
@media screen and (max-width:1199.98px){
    .section-03 .block{padding:3rem 2rem 3rem 0;}
    .section-03 .subblock{padding:3rem 0 3rem 2rem;}
}
@media screen and (max-width:991.98px){
    .section-03 .block{padding:2.5rem 2.5rem 2.5rem 0;}
    .section-03 .subblock{padding:2.5rem 0 2.5rem 2rem;}
}
@media screen and (max-width:767.98px){
    .section-03 .block, .section-03 .subblocks{width:100%;}
    .section-03 .block > .img-bg, .section-03 .subblock > .img-bg{
        left:calc((578px - 100vw - 2.5rem) / 2); right:unset; width:100vw;
    }
    .section-03 .block{padding:2.5rem 0 2.5rem 0;}
    .section-03 .block.style-02{min-height:300px;}
    .section-03 .subblock{padding:2.5rem 0 2.5rem 0; min-height:300px;}
}
@media screen and (max-width:575.98px){
    .section-03 .block > .img-bg, .section-03 .subblock > .img-bg{left:-1rem;}
}

/* Section 04 */
@media screen and (max-width:575.98px){
   .section-04 .ss-img.square, .section-04 .ss-img.horizontal-2{padding:60% 0 0 0!important; height:unset!important;}
}

/* Section 05 */
.section-05{  
    position:relative; background-attachment:fixed; background-position:center;  background-repeat:no-repeat;
    background-size:cover; height:100%; min-height:485px; display:flex; align-items:center;
}
.section-05.size-02{min-height:600px;}

/* Tab Container */
.tab-container .tab-contents.size-01{min-height:545px;}
.tab-container .tab-contents.size-02, .tab-container .tab-contents .data-container.size-02{min-height:800px!important;}

.tab-container .tab-contents .data-container{
    display:flex; flex-direction:column; justify-content:center; align-items:center;
    min-height:485px;
}

/* Tab Container - Tabs 01 */
.tab-container .tabs.tabs-01{
    width:100%; min-height:3.5rem; display:flex; justify-content:center; align-items:center; background:#ec2c23;
}
.tab-container .tabs.tabs-01 > .tab{position:relative; min-width:9rem; text-align:center;}
.tab-container .tabs.tabs-01 > .tab.md{min-width:17rem!important;}
.tab-container .tabs.tabs-01 > .tab > .title{transition:all .3s;}
.tab-container .tabs.tabs-01 > .tab.active > .title{font-weight:600;}
.tab-container .tabs.tabs-01 > .tab::after{
    content: ''; position: absolute; top:.4rem; bottom:.125rem; right:0rem;
    width:1px; height:60%; background:#ffffff;
}
.tab-container .tabs.tabs-01 > .tab:last-child::after{display:none;}
.tab-container .tabs.tabs-01 > .tab.style-02::after{right:1.5rem;}


/* ============================================= 
                   Special Card
   ============================================= */
/* Special Card Container*/
.ss-card-container{display:flex; flex-wrap:wrap; margin-top:2rem;}

/* Special Card 01 */
.ss-card-01 .text-container{text-align:center;}

/* Special Card 03 */
.ss-card-03{position:relative; border:2px solid #000000; transition:all .3s;}
.ss-card-03:hover{border:2px solid #ec2c23;}
.ss-card-03:hover .ss-img:after{background:rgba(3,3,3,.6);}
.ss-card-03 .text-container{position:absolute; bottom:0; padding:1rem;}
.ss-card-03 .text-container .title{-webkit-line-clamp:2;}
.ss-card-03.filter-01 .ss-img::after{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0;  
    background-image:linear-gradient(to top,rgba(4,4,3,1),rgba(4,4,3,.9),
    rgba(4,4,3,.4),rgba(4,4,3,0),rgba(4,4,3,0),rgba(4,4,3,0),rgba(4,4,3,0));
}
.ss-card-03 .icon{
    width:1.5rem; height:1.5rem; position:absolute; top:-.1rem; right:-.1rem; font-size:.875rem; transition:all .3s;
    display:flex; justify-content:center; align-items:center; background:#000000; color:#ffffff; 
}
.ss-card-03:hover .icon{background:#ec2c23; color:#ffffff;}

/* Special Card 04 */
.ss-card-04{
    width:16.66%; display:flex;  justify-content:center; flex-direction:column; 
    align-items:center; margin-top:2rem; 
}
.ss-card-04 .icon{
    background:#ffffff; width:4.5rem; height:4.5rem; border-radius:50%; font-size:2rem; cursor:pointer;
    display:flex; justify-content:center; align-items:center; color:#ec2c23; transition:all .3s;
}
.ss-card-04 .icon:hover{
    background:#ec2c23; color:#ffffff;
}
.ss-card-04 .text-container{
    padding:0 1rem; margin-top:1rem;
}
.ss-card-04 .text-container > .title{color:#ffffff; font-weight:500; text-align:center;}
@media screen and (max-width:767.98px){
    .ss-card-04{width:25%;}
}
@media screen and (max-width:575.98px){
    .ss-card-04{width:33.33%;}
}
@media screen and (max-width:391.98px){
    .ss-card-04{width:50%;}
}
@media screen and (max-width:279.98px){
    .ss-card-04{width:100%;}
}

/* Special Card 05 */
.ss-card-05{position:relative; border:5px solid transparent; transition:all .3s;}
.ss-card-05:hover{border:5px solid #ec2c23;}
.ss-card-05:hover .ss-img:after{background:rgba(3,3,3,.6);}
.ss-card-05 .text-container{position:absolute; bottom:0; padding:1rem;}
.ss-card-05 .text-container .title{-webkit-line-clamp:2;}
.ss-card-05 .text-container .desc{-webkit-line-clamp:3;}
.ss-card-05.filter-01 .ss-img::after{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0;  
    background-image:linear-gradient(to top,rgba(30,31,31,1),rgba(30,31,31,.9),
    rgba(30,31,31,.4),rgba(30,31,31,0),rgba(30,31,31,0),rgba(30,31,31,0),rgba(30,31,31,0));
}

/* Special Card 06 */
.ss-card-06 img{width:13rem; margin:0 auto;}

/* Special Card 07 */
.ss-card-07{width:100%; display:flex; align-items:center; margin:1rem 0;}
.ss-card-07 .number-container{
    background:#cccccc; width:3rem; height:3rem; border-radius:50%; transition:all .3s;
    display:flex; justify-content:center; align-items:center; color:#ffffff; cursor:pointer;
}
.ss-card-07 .number-container:hover{background:#ec2c23;}
.ss-card-07 .text-container{width:calc(100% - 3rem); padding:0 1rem;}
.ss-card-07 .text-container .title{-webkit-line-clamp:2;}

/* Special Card 08 */
.ss-card-08{
    width:16.66%; min-height:17rem; padding:.1875rem .1875rem; cursor:pointer;
}
.ss-card-08:hover .icon{
    background:#ffffff; border:1px solid #ffffff;
}
.ss-card-08:hover .wrapper{background:#000000;}
.ss-card-08 .wrapper{
    width:100%; height:100%; display:flex; flex-direction:column; justify-content:center;  
    align-items:center; transition:background .3s; background:#001f5c;
}
.ss-card-08 .icon{
    width:4.5rem; height:4.5rem; border-radius:50%; font-size:2rem; cursor:pointer;
    display:flex; justify-content:center; align-items:center; color:#ec2c23; transition:all .3s; border:1px solid #405785;
}
.ss-card-08 .text-container{
    padding:0 1rem; margin-top:1rem;
}
.ss-card-08 .text-container > .title{color:#ffffff; font-weight:500; text-align:center;}
@media screen and (max-width:991.98px){
    .ss-card-08{min-height:12rem;}
}
@media screen and (max-width:767.98px){
    .ss-card-08{width:25%;}
}
@media screen and (max-width:575.98px){
    .ss-card-08{width:33.33%;}
}
@media screen and (max-width:469.98px){
    .ss-card-08{width:50%;}
}
@media screen and (max-width:309.98px){
    .ss-card-08{width:100%;}
}

/* Special Card 09 */
.ss-card-09{position:relative;}

/* Special Card 10 */
.ss-card-10{position:relative; display:flex; flex-direction:column; align-items:center;}
.ss-card-10 .icon{
    background:#ffffff; width:4.5rem; height:4.5rem; border-radius:50%; font-size:2rem;
    cursor:pointer; display:flex; justify-content:center; align-items:center; color:#ec2c23;
    transition:all .3s; border:1px solid #405785;
}
.ss-card-10 .text-container > .title{text-align:center;}

/* Special Card 11 */
.ss-card-11{position:relative; cursor:pointer;}
.ss-card-11 .text-container{border-left:3px solid #cccccc; padding:0 .5rem; transition:border .3s, color .3s;}
.ss-card-11 .text-container > .title{-webkit-line-clamp:1;}
.ss-card-11 .text-container > .desc{-webkit-line-clamp:2;}

.ss-card-11:hover .text-container{border-left:5px solid #ec2c23;}
.ss-card-11:hover .text-container > .title{color:#ec2c23;}
.ss-card-11:hover .text-container > .desc{color:#000000;}

/* Special Card 12 */
.ss-card-12{position:relative;}
.ss-card-12:hover .ss-img:after{background:rgba(3,3,3,.6);}
.ss-card-12.filter-01 .ss-img::after{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0;  
    background-image:linear-gradient(to top,rgba(4,4,3,1),rgba(4,4,3,.9),
    rgba(4,4,3,.4),rgba(4,4,3,0),rgba(4,4,3,0),rgba(4,4,3,0),rgba(4,4,3,0));
}
.ss-card-12 .icon{
    width:1.5rem; height:1.5rem; position:absolute; top:0; right:-.1rem; font-size:.875rem;
    display:flex; justify-content:center; align-items:center; background:#ec2c23; color:#ffffff; 
}

/* ============================================= 
                   Button
   ============================================= */

/* Button */
.btn.btn-action.style-01{
    font-size:1rem; font-weight:300; outline:none; box-shadow:none; text-decoration:none;
    padding:.875rem 2rem; border:0; white-space:nowrap; border-radius:1000em; 
}
.btn.btn-color-01, .btn.btn-color-01:focus{color:#ffffff; background:#ec2c23;}
.btn.btn-color-01:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn.btn-color-01:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}


/* ============================================= 
                   Text
   ============================================= */

/* Special Text Wrapper */
.ss-text-wrapper{display:block; width:100%; max-width:52rem;}
.ss-text-wrapper.lg{max-width:62rem;}
.ss-text-wrapper.md{max-width:26rem;}
.ss-text-wrapper.md.style-02{max-width:31rem;}
.ss-text-wrapper.sm{max-width:38rem;}
.ss-text-wrapper.sm.m-auto{max-width:38rem; margin:0 auto;}
.ss-text-wrapper.xs{max-width:34rem;}
.ss-text-wrapper.xxs{max-width:24rem;}

/* Text transform */
.text-uppercase{text-transform:uppercase!important;}


/* ============================================= 
                Special List
   ============================================= */

/* Special List 01 */
.ss-list-01{list-style:none; padding:0; margin:0; color:#ffffff;}
.ss-list-01 li{position:relative; padding:.0625rem 1.5rem 1.1875rem;}
.ss-list-01 li:before{
    content:""; position:absolute; top:0.5rem; left:0; width:.875rem; height:.875rem; 
    border-radius:50%; background-image:url('../img/icon/correct-01.png'); background-size:cover;
    background-repeat:no-repeat; background-position:center;
}
.ss-list-01.style-02 li:before{background-image:url('../img/icon/correct-02.png');}


/* ============================================= 
                Special Image
   ============================================= */
.ss-img.vertical{padding:140% 0 0 0;}
.ss-img.horizontal{padding:40% 0 0 0;}
.ss-img.horizontal-2{padding:50% 0 0 0;}
.ss-img.no-hover > .img-bg, .ss-card .ss-img.no-hover > .img-bg{transform:none!important;}


/* ============================================= 
                   Special Box
   ============================================= */
.ss-box{display:block; width:100%; max-width:35rem; margin:0 auto;}
.ss-box.xl{max-width:55rem;}


/* ============================================= 
                   Special Header
   ============================================= */





