html, body {
    font-family: 'Noto Sans Thai', sans-serif !important;
}
html[lang="en"] *:not(em):not(i) {
    font-family: 'Poppins', 'Noto Sans Thai';
}

.letter-spacing-7 {
    letter-spacing: 7px;
}

.tp-loader.spinner0 {
    display: none;
}

.opacity-0 {
    opacity: 0 !important;
}
.opacity-1 {
    opacity: 1 !important;
}

@media screen and (min-width: 768px) {
    .opacity-md-0 {
        opacity: 0 !important;
    }
    .opacity-md-1 {
        opacity: 1 !important;
    }
}

/* Start Index */
.tg-rev-slider .tp-caption {
    font-family: 'Poppins', 'Noto Sans Thai';
}
/* End Index */

.bg-sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.max-width-960 {
    position: relative;
    max-width: 960px;
    margin: auto;
}
.max-width-960 div[class*="col"] {
    padding-bottom: 2rem;
}
.align-content-center {
    flex-wrap: wrap;
    align-content: center;
}
.tool-even .tool-item-left {
    order: 2;
}
.tool-even .tool-item-right {
    order: 1;
}
.abs-bg-number {
    position: absolute;
    color: #f0f0f0;
    font-size: 14rem;
    font-weight: 900;
    line-height: 17rem;
    right: 2vw;
}
.tool-even .tool-item-right .abs-bg-number {
    left: 2vw;
}
.tool-even .tool-item-left .abs-bg-number {
    right: 2vw;
}
.img-box-radius {
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 4px solid #fff;
    overflow: hidden;
}
.img-box-radius img {
    max-width: 100%;
}

.paginations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 
.paginations .item {
    display: inline-flex;
    min-width: 40px;
    height: 40px;
    padding: 0.5rem;
    background: transparent;
    text-align: center;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: all .3s cubic-bezier(0.68, 1, 0.265, 1)!important;
}
.paginations .item.active {
    color: #fff;
    background: #999999;
}
.paginations .item.item-prev,
.paginations .item.item-next {
    color: #fff;
    background: #ff2c2c;
    margin: 0 10px;
}
.paginations .item:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .tool-even .tool-item-right:not(.tool-item-right .abs-bg-number) {
        justify-content: flex-end;
        text-align: right;
    }
    .tool-even .tool-item-right .abs-bg-number {
        text-align: left;
    }
}

.img-box-radius > img {
    border-radius: 15px;
}
.img-box-radius {
    position: relative;
    border: none;
    padding: 4px;
    max-width: 400px;
    margin: auto;
}

.img-box-radius::before,
.img-box-radius::after {
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s linear;
}
.img-box-radius::before {
    height: 100%;
    /* background: repeating-conic-gradient(from var(--a),#ff2770 0%,#ff2770 5%,transparent 5%, transparent 40%, #ff277050 50%); */
    background: repeating-conic-gradient(from var(--a),#ec2c23 0%,#ec2c23 5%,transparent 5%, transparent 40%, #ec2c23 50%);
    animation: animate 4s linear infinite;
}

.img-box-radius::after {
    display: none;
    /* background: repeating-conic-gradient(from var(--a),#45f3ff 0%,#45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%); */
    background: repeating-conic-gradient(from var(--a),#f2f2f2 0%,#f2f2f2 5%, transparent 5%, transparent 40%, #f2f2f2 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
}
.max-width-960:hover .img-box-radius::before,
.max-width-960:hover .img-box-radius::after {
  opacity: 1;
}
@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate {
    0% {
    --a: 0deg;
    }
    100%  {
    --a: 180deg;
    }
}

.max-width-960 .h3 {
    /* transition: all ease-in-out .3s; */
    transition: all .5s cubic-bezier(0.68, 1, 0.265, 1)!important;
    text-shadow: 2px 2px 2px rgba(0,0,0,0);
}
.max-width-960:hover .h3 {
    text-shadow: 3px 2px 2px rgba(0,0,0,0.2);

}
.tool-odd:hover .h3 {
    transform: scale(1.1) translateX(1rem);
    z-index: 1;
}
.tool-even:hover .h3 {
    transform: scale(1.1) translateX(-1rem);
    z-index: 1;
}

/* btn-circel */
.max-width-960 .btn-circel {
    transition: all 1s cubic-bezier(0.68, 1, 0.265, 1)!important;
}
.max-width-960:hover .btn-circel {
    padding: 2px 10px;
    color: #fff !important;
}

.btn-circel::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: #ec2c23;
    border-radius: 50px;
    transition: all 1s cubic-bezier(0.68, 1, 0.265, 1)!important;
    z-index: -1;
}

.max-width-960:hover 
 .btn-circel::before {
    width: 100%;
}

/* scroll fix */
.tool-bar-footer {
    padding-bottom: 3rem;
}
.tool-bar-footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* top: 97%; */
    z-index: 99;
    padding-bottom: 1rem;
    background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%);
}

.section-home-12 .blocks > .block > .text-container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .section-home-12 .blocks {
        min-height: 22rem;
    }
    .section-home-12 .blocks > .block {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .section-home-12 .blocks > .block-float.left {
        padding-right: 2rem;
    }
    .section-home-12 .blocks > .block-float.right {
        order: 2;
        padding-left: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .section-home-12 .blocks {
        min-height: 22rem;
    }
}
@media screen and (max-width: 991px) {
    .section-home-12 .blocks > .block-float.left {
        background-position: left top;
    }
    .section-home-12 .blocks > .block-float.right {
        background-position: right top;
    }
}