@charset "UTF-8";


/* NatoSans */
@font-face{
    font-family:'Noto Sans Thai'; font-weight:100; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-ExtraLight.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:200; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-Light.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:300; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:400; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-Medium.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:500; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-SemiBold.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:600; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-Bold.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:700; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-ExtraBold.ttf') format('truetype');
}
@font-face{
    font-family:'Noto Sans Thai'; font-weight:800; font-style:normal;
    src:url('./NotoSansThai/NotoSansThai-Black.ttf') format('truetype');
}
